Mobile.NewsToHTML/Service References/NewsServiceWs/NewsToHTML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsToHTML" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_INewsToHTML_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9024/ws/NewsToHTML?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9024/ws/NewsToHTML?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsToHTML_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateHtmlById_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHtmlById" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateHtmlById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHtmlByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateggHtmlById_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateggHtmlById" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateggHtmlById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateggHtmlByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_Create2ptPcHtmlById_InputMessage">
    <wsdl:part name="parameters" element="tns:Create2ptPcHtmlById" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_Create2ptPcHtmlById_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create2ptPcHtmlByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateById_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateById" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateZdlhHtmlById_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateZdlhHtmlById" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateZdlhHtmlById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateZdlhHtmlByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateXfzgHtmlById_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateXfzgHtmlById" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_CreateXfzgHtmlById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateXfzgHtmlByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_FileCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:FileCopy" />
  </wsdl:message>
  <wsdl:message name="INewsToHTML_FileCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileCopyResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsToHTML">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/DoWork" message="tns:INewsToHTML_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/DoWorkResponse" message="tns:INewsToHTML_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHtmlById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/CreateHtmlById" message="tns:INewsToHTML_CreateHtmlById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/CreateHtmlByIdResponse" message="tns:INewsToHTML_CreateHtmlById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateggHtmlById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/CreateggHtmlById" message="tns:INewsToHTML_CreateggHtmlById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/CreateggHtmlByIdResponse" message="tns:INewsToHTML_CreateggHtmlById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create2ptPcHtmlById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/Create2ptPcHtmlById" message="tns:INewsToHTML_Create2ptPcHtmlById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/Create2ptPcHtmlByIdResponse" message="tns:INewsToHTML_Create2ptPcHtmlById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/CreateById" message="tns:INewsToHTML_CreateById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/CreateByIdResponse" message="tns:INewsToHTML_CreateById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateZdlhHtmlById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/CreateZdlhHtmlById" message="tns:INewsToHTML_CreateZdlhHtmlById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/CreateZdlhHtmlByIdResponse" message="tns:INewsToHTML_CreateZdlhHtmlById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateXfzgHtmlById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/CreateXfzgHtmlById" message="tns:INewsToHTML_CreateXfzgHtmlById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/CreateXfzgHtmlByIdResponse" message="tns:INewsToHTML_CreateXfzgHtmlById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileCopy">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsToHTML/FileCopy" message="tns:INewsToHTML_FileCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsToHTML/FileCopyResponse" message="tns:INewsToHTML_FileCopy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_INewsToHTML" type="tns:INewsToHTML">
    <wsp:PolicyReference URI="#NetTcpBinding_INewsToHTML_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHtmlById">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/CreateHtmlById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateggHtmlById">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/CreateggHtmlById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create2ptPcHtmlById">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/Create2ptPcHtmlById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateById">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/CreateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateZdlhHtmlById">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/CreateZdlhHtmlById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateXfzgHtmlById">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/CreateXfzgHtmlById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileCopy">
      <soap12:operation soapAction="http://tempuri.org/INewsToHTML/FileCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsToHTML">
    <wsdl:port name="NetTcpBinding_INewsToHTML" binding="tns:NetTcpBinding_INewsToHTML">
      <soap12:address location="net.tcp://localhost:9025/ws/NewsToHTML" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9025/ws/NewsToHTML</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>